{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:eslint-comments/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off"
  }
}
