{
  "extends": [
    "skyscanner-with-prettier"
  ],
  "rules": {
    "no-console": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}
