<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.skyscanner.backpack.common.test">

    <application>
        <activity
            android:name="net.skyscanner.backpack.configuration.EmptyActivity"
            android:theme="@style/TestTheme" />
    </application>

</manifest>

