<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!-- We just need this permission for the screenshot testing. Unfortunately the screenshot testing lib doesn't support
  scoped storage yet, see https://github.com/facebook/screenshot-tests-for-android/issues/162 -->
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />

</manifest>
