name: CI

on:
  push:
    branches: [master]
    tags: ['*.*.*']
  pull_request:
    branches: [master]

defaults:
  run:
    shell: bash -l {0}

env:
  flavour: Oss
  config: Debug
  api-level: 21

jobs:

#  Node:
#    name: Node
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Setup NVM
#        run: nvm install
#
#      - name: NPM CI
#        run: |
#          nvm use
#          npm ci
#
#      - name: Build
#        run: npm run build
#
#      - name: Danger check
#        run: npm run danger
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Tokens check
#        run: ./scripts/check-pristine-state package-lock.json sd.img
#
#  Java:
#    name: Java
#    runs-on: ubuntu-latest
#
#    strategy:
#      fail-fast: false
#      matrix:
#        module:
#          - app
#          - Backpack
#
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Validate Gradle Wrapper
#        uses: gradle/wrapper-validation-action@v1
#
#      - name: Build
#        run: ./gradlew :${{ matrix.module }}:assemble${{ env.flavour }}${{ env.config }} -PdisablePreDex
#
#      - name: KtLint check
#        run: ./gradlew :${{ matrix.module }}:${{ env.module }}:ktlint -PdisablePreDex
#
#      - name: Lint check
#        run: ./gradlew :${{ matrix.module }}:lint${{ env.flavour }}${{ env.config }} -PdisablePreDex
#
#      - name: Unit Tests
#        run: ./gradlew :${{ matrix.module }}:test${{ env.flavour }}${{ env.config }}UnitTest -PdisablePreDex
#
#  Android:
#    name: Android
#    runs-on: macos-latest
#
#    strategy:
#      fail-fast: false
#      matrix:
#        module:
#          - app
#          - Backpack
#
#    steps:
#
#      - name: Checkout
#        uses: actions/checkout@v2
#
#      - name: Setup Python
#        if: ${{ matrix.module == 'app' }}
#        uses: actions/setup-python@v2
#        with:
#          python-version: '2.x'
#
#      - name: Setup Pillow
#        if: ${{ matrix.module == 'app' }}
#        run: |
#          python --version
#          sudo easy_install Pillow==6.2.2
#
#      - name: Android Tests
#        if: ${{ matrix.module == 'Backpack' }}
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          target: google_apis
#          profile: Nexus 4
#          sdcard-path-or-size: 512M
#          api-level: ${{ env.api-level }}
#          script: ./gradlew :${{ matrix.module }}:connected${{ env.flavour }}${{ env.config }}AndroidTest
#
#      - name: Recording Screenshot Tests
#        if: ${{ matrix.module == 'app' }}
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          target: google_apis
#          profile: Nexus 4
#          sdcard-path-or-size: 512M
#          api-level: ${{ env.api-level }}
#          script: ./gradlew :${{ matrix.module }}:connected${{ env.flavour }}${{ env.config }}AndroidTest
#
#      - name: Git status
#        if: ${{ matrix.module == 'app' }}
#        run: git status
#
#      - name: Verifying screenshots
#        if: ${{ matrix.module == 'app' }}
#        run: |
#          git status --porcelain | grep .
#          if [[ $(git status --porcelain) ]]; then echo "Some files have neen changed"; exit -1; else echo "No changes detected"; fi

  Deploy:
    name: Deploy
    runs-on: ubuntu-latest
#    needs: [Node, Java, Android]

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Add commit comment
        # Only run if there is no tag, and the commit is not on master
        if: contains('refs/tags/', github.ref) && github.ref != 'refs/heads/master'
        uses: peter-evans/commit-comment@v1
        with:
          body: |
            Thank you for your contribution.
            You can use the following dependency to test your application while we review your pull request:

            `com.github.Skyscanner:backpack-android:${{ env.GITHUB_SHA }}`

      - name: Get release tag
#        if: github.ref == 'refs/heads/master'
        id: tag
        uses: dawidd6/action-get-tag@v1

      - name: Build Dokka Docs
#        if: github.ref == 'refs/heads/master'
        run: |
          nvm install
          nvm use
          ./scripts/build-docs-ci ${{steps.tag.outputs.tag}}

      - name: Deploy Docs Site
        if: github.ref == 'refs/heads/master'
        run: |
          curl -f -s -X POST -H "Content-Type: application/json" -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $GITHUB_TOKEN" -d "{\"ref\":\"master\",\"inputs\":{\"repo\":\"backpack-android\"}}" https://api.github.com/repos/Skyscanner/backpack-docs/actions/workflows/ci.yml/dispatches
        env:
          GITHUB_TOKEN: ${{ secrets.BACKPACK_DOCS_DEPLOY_TOKEN }}

      - name: Publishing APK
        run: ls ~
