name: Release

on:
  release:
    types: [ published ]

defaults:
  run:
    shell: bash -l {0}

env:
  flavour: oss

jobs:

  Build:
    name: Build
    uses: ./.github/workflows/_build.yml

  Deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [Build]
    timeout-minutes: 30

    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Create Sonatype key
        run: base64 -d <<< $SONATYPE_SINGING_KEY_BASE64 > sonatype.gpg
        env:
          SONATYPE_SINGING_KEY_BASE64: ${{ secrets.SONATYPE_SINGING_KEY_BASE64 }}

      - name: Publish artifacts
        run: ./gradlew checkMavenCredentials publishMavenPublicationToSonatypeRepository closeAndReleaseSonatypeStagingRepository -Pversion=${{ github.event.release.tag_name }}
        env:
          SONATYPE_SINGING_KEY_ID: ${{ secrets.SONATYPE_SINGING_KEY_ID }}
          SONATYPE_SINGING_KEY_PASSWORD: ${{ secrets.SONATYPE_SINGING_KEY_PASSWORD }}
          SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}

      - name: Build Dokka docs
        run: ./gradlew dokkaHtmlMultiModule

      - name: Deploy Dokka docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.DOKKA_DEPLOY_KEY }}
          publish_dir: dokka/
          keep_files: true
          external_repository: backpack/android
          publish_branch: main

      - name: Building release APK
        run: |
          openssl aes-256-cbc -K $KEYSTORE_DECRYPT_KEY -iv $KEYSTORE_DECRYPT_IV -in backpack.android.demo.key.enc -out backpack.android.demo.key -d;
          ./gradlew :app:assemble${{ env.flavour }}Release -PdisablePreDex
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_ALIAS_PASSWORD: ${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}
          KEYSTORE_DECRYPT_KEY: ${{ secrets.KEYSTORE_DECRYPT_KEY }}
          KEYSTORE_DECRYPT_IV: ${{ secrets.KEYSTORE_DECRYPT_IV }}

      - name: Publish Release APK to AppCenter
        uses: devussy/AppCenter-Distribute-Github-Action@v1.0.2
        with:
          app: Backpack/Backpack-Android
          token: ${{secrets.APP_CENTER_TOKEN}}
          group: Everyone
          file: app/build/outputs/apk/oss/release/app-${{ env.flavour }}-release.apk
          silent: true
          releaseNotes: Version ${{github.event.release.tag_name}}

      - name: Remove Sonatype key
        run: rm -rf sonatype.gpg
