name: Release

on:
  release:
    types: [ published ]

defaults:
  run:
    shell: bash -l {0}

env:
  flavour: oss

jobs:

  Build:
    name: Build
    permissions:
      statuses: write
      pull-requests: write
      contents: write
    uses: ./.github/workflows/_build.yml
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}

  Deploy:
    name: Deploy
    runs-on: ubuntu-24.04-16cores-public
    environment: Publishing
    needs: [Build]
    timeout-minutes: 30
    permissions:
        contents: write
        packages: write

    steps:

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Building release APK
        run: |
          openssl aes-256-cbc -K $KEYSTORE_DECRYPT_KEY -iv $KEYSTORE_DECRYPT_IV -in backpack.android.demo.key.enc -out backpack.android.demo.key -d;
          ./gradlew :app:assemble${{ env.flavour }}Release -PdisablePreDex
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_ALIAS_PASSWORD: ${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}
          KEYSTORE_DECRYPT_KEY: ${{ secrets.KEYSTORE_DECRYPT_KEY }}
          KEYSTORE_DECRYPT_IV: ${{ secrets.KEYSTORE_DECRYPT_IV }}

      - name: Generate component list
        run: ./gradlew :backpack-compose:generateComponentList
      - name: Upload components list to release
        continue-on-error: true
        run: gh release upload ${GITHUB_EVENT_RELEASE_TAG_NAME} backpack-compose/build/outputs/compose_components.txt --clobber
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          GITHUB_EVENT_RELEASE_TAG_NAME: ${{ github.event.release.tag_name }}

      - name: Publish artifacts
        run: ./gradlew publish -Pversion=${GITHUB_EVENT_RELEASE_TAG_NAME}
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            GITHUB_EVENT_RELEASE_TAG_NAME: ${{ github.event.release.tag_name }}

      - name: Install libsecret for Supernova CLI
        run: sudo apt-get update && sudo apt-get install -y libsecret-1-0

      - name: Update Supernova docs
        run: npx @supernovaio/cli publish-documentation --apiKey=${{ secrets.SUPERNOVA_API_KEY }} --designSystemId=${{ secrets.SUPERNOVA_DESIGN_SYSTEM_ID }}

      - name: Publish release to Runway
        run: |
          set -e
          curl -X POST -F "file=@app/build/outputs/apk/oss/release/app-${{ env.flavour }}-release.apk" -H "X-API-KEY:${RUNWAY_API_KEY}" https://upload-api.runway.team/v1/app/${RUNWAY_APP_ID}/bucket/${RUNWAY_BUCKET_ID}/build
        env:
          RUNWAY_API_KEY: ${{ secrets.RUNWAY_API_KEY }}
          RUNWAY_APP_ID: ${{ secrets.RUNWAY_APP_ID }}
          RUNWAY_BUCKET_ID: ${{ secrets.RUNWAY_BUCKET_ID }}
